@import "variables.css";
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border: 0;
    font-family: var(--text);
}
.wrapper {
    background-color: #fff;
}
.container {
    min-width: 20rem;
    max-width: 73.13rem;
    margin: auto;
    padding: 0 1rem;
}
img {
    display: block;
    height: auto;
    max-width: 100%;
}
.header {
    padding: 2rem 0;
}
.nav {
    display: none;
}
.logo {
    font-size: 1.125rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #555;
    letter-spacing: 0.25rem;
}
.wrapper-image {
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url('../img/about-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.about {
    padding: 4.438rem 0;
}
.title {
    color: #fff;
    text-align: center;
    text-transform: capitalize;
    font-size: 2.625rem;
}
.main {
    padding: 3.75rem 0;
}
.article-title {
    font-size: 1.625rem;
    color: #333;
    font-weight: bold;
    letter-spacing: 0.03rem;
    text-transform: capitalize;
    margin-bottom: 1rem;
}
.section-1-article:last-child .article-title {
    text-transform: uppercase;
}
.text {
    margin-bottom: 0.625rem;
    color: #777;
    font-size: 1rem;
    line-height: 1.625rem;
}
.text:last-child {
    margin-bottom: 0;
}
.section-1-article {
    margin-bottom: 3rem;
}
.section-1-article:last-child {
    margin-bottom: 0;
}
.section-1 {
    margin-bottom: 3.375rem;
}
.section-2-container {
    margin-bottom: 5.375rem;
}
.section-2 {
    margin-bottom: 4.125rem;
}
.section-3-img {
    margin-bottom: 1.25rem;
}
.section-3-article {
    margin-bottom: 3.375rem;
}
.section-3-article:last-child {
    margin-bottom: 0;
}
.section-3 {
    margin-bottom: 3.375rem;
}
.wrapper-footer {
    background-color: #000;
}
.footer {
    padding: 5rem 0;
}
.title-color {
    color: #fff;
}
.footer-article {
    margin-bottom: 3.25rem;
}
.footer-article:last-child {
    margin-bottom: 0;
}
.contact-item {
    margin-bottom: 0.625rem;
    color: #777;
    font-size: 1rem;
    line-height: 1.625rem;
}
.contact-item:last-child {
    margin-bottom: 0;
}
@media (min-width: 768px) {
    .nav {
        display: block;
        flex-basis: 52%;
    }
    .header {
        display: flex;
        justify-content: space-between;
    }
    .menu {
        display: flex;
        justify-content: space-around;
    }
    .menu-link {
        text-transform: capitalize;
        color: #777;
    }
    .menu-link:hover {
        color: #bfba55;
    }
    .section-1 {
        display: flex;
        justify-content: space-between;
    }
    .section-1-article {
        flex-basis: 32%;
        margin-bottom: 0;
    }
    .article-size {
        font-size: 2rem;
    }
    .section-2 {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    .section-2-container {
        flex-basis: 50%;
        margin-bottom: 0;
    }
    .section-2-img {
        width: 42%;
    }
    .section-3 {
        display: flex;
        justify-content: space-between;
    }
    .section-3-article {
        flex-basis: 32%;
        margin-bottom: 0;
    }
    .footer {
        display: flex;
        justify-content: space-around;
    }
    .footer-article {
        flex-basis: 45%;
        margin-bottom: 0;
    }
}
@media (min-width: 992px) {
    .about {
        padding: 11rem 0;
    }
    .title {
        font-size: 3.875rem;
    }
    .container {
        max-width: 50.5rem;
    }
}