* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.wrapper {
    width: 900px;
    margin: auto;
    padding: 70px 0;
}
/* Header style*/
.nav {
    text-align: center;
}
.nav-item {
    display: inline-block;
    margin-right: 100px;
}
.nav-item:last-child {
    margin-right: 0;
}
.nav-link {
    display: inline-block;
    text-transform: uppercase;
}
a {
    display: block;
    color: #777777;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
    color: #03a9f4;
}
/* Main style*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.article {
    width: 420px;
    display: inline-block;
    margin-top: 100px;
}
.right {
    margin-left: 56px;
}
p {
    color: #626262;
    margin-top: 30px;
}
.caption {
    color: #d9d6ce;
    text-transform: uppercase;
    margin-top: 30px;
}
h2 {
    color: #626262;
    margin-top: 30px;
    font-size: 30px;
}
h2:first-letter {
    text-transform: capitalize;
}
/* Footer style*/
.button {
    display: block;
    margin: auto;
    margin-top: 60px;
    padding: 22px 35px;
    background-color: transparent;
    border: 1px solid #626262;
    font-size: 20px;
    color: #626262;
}
.button:first-letter {
    text-transform: capitalize;
}