* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}
.clearfix:after {
    content: "";
    display: block;
    clear: both;
  }
.wrapper {
    max-width: 1110px;
    margin: auto;
    padding: 40px 0 80px 0;
}
  /* header style */
.logo {
    text-transform: uppercase;
    color: #605e5e;
    font-size: 30px;
    text-decoration: none;
    display: block;
    float: left;
}
.logo::first-letter {
    color: #1abc9c;
}
.nav {
    float: right;
}
.nav-item {
    float: left;
    margin-right: 20px;
}
.nav-item:last-child {
    margin-right: 0;
}
.nav-link {
    text-transform: uppercase;
    color: #1f1212;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    display: block;
}
.nav-item:hover > .nav-link {
    color: #1abc9c;
}
/* section 1 style */
.main {
    margin-top: 100px;
}
.title {
    color: #515151;
    font-size: 48px;
    text-transform: uppercase;
    text-align: center;
}
.title::after {
    display: block;
    margin: 20px auto 0;
    content: "";
    background-color: #1abc9c;
    width: 164px;
    height: 7px;
}
.product-article {
    width: 255px;
    float: left;
    background-color: #e9f0fd;
    margin-right: 30px;
    margin-bottom: 30px;
    font-size: 0;
}
.product-article:nth-child(4n+4) {
    margin-right: 0;
}
.product-article:nth-child(1n+4) {
    margin-bottom: 0;
}
.product-catalog {
    margin-top: 90px;
}
.product-img {
    display: block;
    margin: auto;
}
.article-name {
    display: inline-block;
    width: 201px;
    height: 40px;
    background-color: #323232;
    color: #ffffff;
    text-transform: uppercase;
    line-height: 40px;
    font-size: 18px;
    font-weight: 700;
    padding-left: 15px;
}
.article-price {
    display: inline-block;
    width: 54px;
    height: 40px;
    line-height: 40px;
    background-color: #8c8c8c;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
}
.product-article:hover>.article-name {
    background-color: #1abc9c;
}
.product-article:hover>.article-price {
    background-color: #7fd9c7;
}
/* section 2 styles */
.news {
    margin-top: 100px;
}
.news-img {
    display: block;
    width: 347px;
    height: 262px;
}
.news-items {
    width: 347px;
    float: left;
    margin-right: 30px;
}
.news-items:last-child {
    margin-right: 0;
}
.news-title {
    font-size: 18px;
    text-align: left;
    margin-top: 20px;
}
.news-title::after {
    display: block;
    margin: 15px 0 0 0;
    content: "";
    background-color: #1abc9c;
    width: 136px;
    height: 3px;
  }
.news-all {
    margin-top: 80px;
}
.news-text {
    text-align: left;
    margin-top: 30px;
}
.btn {
    color: #ffffff;
    margin-top: 20px;
    padding: 20px 40px;
    background-color: #1abc9c;
    border: 1px solid;
    border-radius: 5px;
    font-size: 16px;
    text-transform: capitalize;
}