@import "variables.css";
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
.wrapper {
    background-color: #ffffff;
}
.container {
    max-width: 1200px;
    margin: auto;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 80px;
}
.nav {
    flex-basis: 500px;
}
.menu {
    display: flex;
    justify-content: space-between;
}
.logo {
    font-family: var(--mon);
    font-size: 30px;
    font-weight: bold;
    color: #95e1d3;
}
.menu-link {
    text-transform: uppercase;
    color: #95e1d3;
    font-family: var(--mon);
    font-weight: bold;
    font-size: 14px;
}
.menu-link:hover {
    color: #f38181;
    padding-bottom: 10px;
    border-bottom: 3px solid #f38181;
}
/* services section style */
.services {
    margin: 90px 0 100px;
    
}
.services-title {
    font-family: var(--mon);
    font-weight: bold;
    font-size: 30px;
    color: #333333;
    text-transform: uppercase;
    margin-bottom: 60px;
    text-align: center;
}
.title-span {
    font-family:  var(--kau);
    font-size: 24px;
    color: #333333;
    display: block;
}
.services-title::after {
    display: block;
    margin: 40px auto 0;
    content: "";
    background-color: #f38181;
    width: 60px;
    height: 4px;
}
.services-articles {
    max-height: 390px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.services-section {
    max-width: 325px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}
.services-section:nth-child(2n+2) {
    margin-bottom: 0;
}
.text-container {
    max-width: 280px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
}
.services-section-title {
    text-transform: uppercase;
    font-family: var(--mon);
    font-size: 14px;
    color: #333333;
    text-align: left;
    margin: 0 0 20px 0;
}
.section-text {
    font-family: var(--rob);
    font-size: 15px;
    color: #999999;
    text-align: left;
}
/* team section style */
.team {
    text-align: center;
    margin-bottom: 85px;
}
.team-title {
    font-family: var(--mon);
    font-weight: bold;
    font-size: 30px;
    color: #333333;
    text-transform: uppercase;
    margin-bottom: 60px;
}
.team-title-span {
    font-family:  var(--kau);
    font-size: 24px;
    color: #333333;
    display: block;
}
.team-title::after {
    display: block;
    margin: 40px auto 0;
    content: "";
    background-color: #f38181;
    width: 60px;
    height: 4px;
}
.team-text {
    font-family: var(--rob);
    font-size: 15px;
    color: #999999;
    margin-bottom: 90px;
    text-align: center;
}
.team-photo {
    max-height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
.team-photo-item {
    /* margin-bottom: 85px; */
}
.team-item-wrapper {
    background-image: url(../img/back-img.png);
}
.team-item {
    position: relative;
    font-size: 0;
    transition: linear 200ms;
}
.team-item:hover {
    transform: translate(-10px, -10px);
}
.socials-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 380px;
    height: 470px;
    background-image: linear-gradient(rgba(243,129,129,0.8),rgba(238,215,135,0.8));
    opacity: 0;
    transition: linear 200ms;
}
.team-item:hover > .socials-back:hover {
    opacity: 1;
}
.socials-front {
    position: relative;
}
.facebook {
    position: absolute;
    top: 195px;
    left: 65px;
    background-color: #fce38a;
    background-image: url(../img/facebook-red.png);
    background-repeat: no-repeat;
    background-position: center;
    border-right: 1px solid #f38181;
    width: 56px;
    height: 56px;
    display: none;
}
.team-item:hover > .socials-back > .socials-front > .facebook {
    display: block;
}
.team-item:hover > .socials-back > .socials-front > .facebook:hover {
    background-color: #f38181;
    background-image: url(../img/facebook-white.png);
    background-repeat: no-repeat;
    background-position: center;
}
.twitter {
    position: absolute;
    top: 195px;
    left: 121px;
    background-color: #fce38a;
    background-image: url(../img/twitter-red.png);
    background-repeat: no-repeat;
    background-position: center;
    border-right: 1px solid #f38181;
    width: 56px;
    height: 56px;
    display: none;
}
.team-item:hover > .socials-back > .socials-front > .twitter {
    display: block;
}
.team-item:hover > .socials-back > .socials-front > .twitter:hover {
    background-color: #f38181;
    background-image: url(../img/twitter-white.png);
    background-repeat: no-repeat;
    background-position: center;
}
.pinterest {
    position: absolute;
    top: 195px;
    left: 177px;
    background-color: #fce38a;
    background-image: url(../img/pinterest-red.png);
    background-repeat: no-repeat;
    background-position: center;
    border-right: 1px solid #f38181;
    width: 56px;
    height: 56px;
    display: none;
}
.team-item:hover > .socials-back > .socials-front > .pinterest {
    display: block;
}
.team-item:hover > .socials-back > .socials-front > .pinterest:hover {
    background-color: #f38181;
    background-image: url(../img/pinterest-white.png);
    background-repeat: no-repeat;
    background-position: center;
}
.instagram {
    position: absolute;
    top: 195px;
    left: 233px;
    background-color: #fce38a;
    background-image: url(../img/instagram-red.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 56px;
    height: 56px;
    display: none;
}
.team-item:hover > .socials-back > .socials-front > .instagram {
    display: block;
}
.team-item:hover > .socials-back > .socials-front > .instagram:hover {
    background-color: #f38181;
    background-image: url(../img/instagram-white.png);
    background-repeat: no-repeat;
    background-position: center;
}
.team-img-title {
    text-transform: uppercase;
    font-family: var(--mon);
    font-size: 14px;
    color: #333333;
    text-align: center;
    margin-top: 30px;
}
.team-img-prof {
    font-family: var(--rob);
    font-size: 15px;
    font-style: italic;
    color: #acacac;
    text-align: center;
    text-transform: capitalize;
    margin-top: 10px;
}
.footer {
    border-top: 2px solid #e7e7e7;
    min-height: 65px;
    font-size: 0;
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.copyright {
    font-family: var(--mon);
    font-size: 14px;
    color: #333333;
}
.copyright-span {
    color: #f38181;
}
.subscribe {
    /* vertical-align: center; */
    display: flex;
}
.subscribe-field {
    min-width: 230px;
    font-family: var(--rob);
    font-size: 15px;
    font-style: italic;
    color: #acacac;
    padding-left: 10px;
    border-top: 1px solid #acacac;
    border-right: none;
    border-bottom: 1px solid #acacac;
    border-left: 1px solid #acacac;
}
.subscribe-btn {
    text-transform: uppercase;
    padding: 15px 35px;
    background-color: #95e1d3;
    color: #ffffff;
    font-weight: bold;
    border: 1px;
}