* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
}
.list {
    padding: 30px 100px;
    counter-reset: rom-count;
}
.list-item {
    counter-increment: rom-count;
}
.list-item::before {
    content: counter(rom-count, upper-roman);
    margin-right: 10px;
    width: 20px;
    height: 20px;
    border: 1px solid black;
    display: inline-block;
    text-align: center;
}